.auth-form {
    width: 40 rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-actions button,
.btn {
    background: #153E8C;
    font: inherit;
    border: 1px solid #153E8C;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.26);
    color: #b2a200;
    cursor: pointer;
    margin-right: 1rem;
    position: absolute;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn.active {
    background: white;
    border-color: #153E8C;
}